# add Gitignore 
code_app/HotelSmartService/node_modules
code_app/HotelSmartService/node_modules/**/*
code_app/HotelSmartService/.expo/*
code_app/HotelSmartService/.expo
code_app/HotelSmartService/npm-debug.*
code_app/HotelSmartService/*.jks
code_app/HotelSmartService/*.p12
code_app/HotelSmartService/*.key
code_app/HotelSmartService/*.mobileprovision
code_app/HotelSmartService/.watchmanconfig